@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'daru';
  src: url('../assets/fonts/DarumadropOne-Regular.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/Poppins-Light.ttf');
}